coding-challenge-solution/__pycache__
coding-challenge-solution/logs/app.log 
coding-challenge-solution/utilities/__pycache__
coding-challenge-solution/test.log 
coding-challenge-solution/daemon-dependencies
